name: CI Pipeline
on:
  pull_request:
  push:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  security:
    uses: ISSEL-labgroup/security-template/.github/workflows/security-checks.yml@actions
    secrets: inherit

  deploy:
    needs: security
    # CONDITION: Only run on pushes to the 'main' branch and jobs in 'needs' are all successful.
    # Also handles the case where security jobs are skipped (on PRs, cyclopt is skipped)
    if: (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/staging') && !failure() && !cancelled()
    uses: ./.github/workflows/deploy.yml
    secrets: inherit